<!-- This is index for: users-->
<% provide(:title, "Members") %>

<div class="row mt-5">
    <div class="col py-auto text-center">
        <h1>Members</h1>
    </div>
</div>

<div class="row my-3">
        <div class="col-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 py-auto">
                            <%= gravatar_for current_user, size: 52 %>
                        </div>
                        <div class="col-10 d-flex justify-content-between">
                            <div>
                                <h4><%= link_to current_user.name, current_user, class: "link" %></h4>
                                <p><%= current_user.email %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% @users.each do |user| %>
        <% next if user == current_user %>
        <div class="col-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 py-auto">
                            <%= gravatar_for user, size: 52 %>
                        </div>
                        <div class="col-10 d-flex justify-content-between">
                            <div>
                                <h4><%= link_to user.name, user, class: "link" %></h4>
                                <p><%= user.email %></p>
                            </div>
                            <div>
                                <% if admin_user? && user != current_user %>
                                    <% if user.is_admin %>
                                        <%= link_to "Remove from admin", admin_user_path(user, is_admin: false), method: :patch, class: "btn yellow-btn w-10 d-block" %>
                                    <% else %>
                                        <%= link_to "Make admin", admin_user_path(user, is_admin: true), method: :patch, class: "btn brown-btn w-10 d-block" %>
                                    <% end %>
                                    <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn red-btn w-10 d-block mt-1" %> 
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="row justify-content-center">
    <%= will_paginate %>
</div>