<% provide(:title, "Dashboard") %>

<div class="row mt-5">
    <div class="col py-auto">
        <h1> <%= "Hello, #{current_user.name}!" %> </h1>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Your Information
                    </div>
                    <div class="card-body text-center">
                        <%= gravatar_for(current_user, size: 52) %>
                        <h5 class="mt-2"> <%= current_user.name %> </h5>
                        <p> <%= current_user.email %> </p>
                        <section class="stats">
                            <%= render "shared/stats" %>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header">
                        Today's advance
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <% if @lessons.any? %>
                                <% @lessons.each do |lesson| %>
                                    <div class="col-4 text-center">
                                        <p>
                                            ・<%= link_to lesson.category.title, lesson_path(lesson.id), class: "link" %>
                                        </p>
                                    </div>
                                    <div class="col-8 text-center">
                                        <p class="score">
                                            <%= "Score: #{lesson.result} out of #{lesson.category.words.count}" %>
                                        </p>
                                    </div>
                                <% end %>
                            <% else %>
                                <div class="col">
                                    <p>
                                        You haven't completed any lesson today. Go take new lessons <%= link_to "here", lessons_path, class: "link" %>.
                                    </p>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Dashboard
            </div>
            <div class="card-body">
                <% if @activities.any? %>
                    <% @activities.each do |activity| %>
                        <% if activity.action_type == "Lesson" && activity.user_id == current_user.id%>
                            <p>
                                You completed the lesson: <%= link_to activity.action.category.title, lesson_path(activity.action.id), class: "link" %><br>
                                <small class="text-muted">
                                    <%=  time_ago_in_words(activity.created_at) %> ago
                                </small>
                            </p>
                        <% elsif activity.action_type == "Relationship" %>
                            <% if activity.action %>
                                <% if activity.user_id == current_user.id %>
                                    <p>
                                        You followed <%= link_to @users.find(activity.action.followed_id).name, user_path(activity.action.followed_id), class: "link" %> <br>
                                        <small class="text-muted">
                                            <%=  time_ago_in_words(activity.created_at) %> ago
                                        </small>
                                    </p>
                                <% elsif activity.action.followed_id == current_user.id %>
                                    <p>
                                        <%= link_to @users.find(activity.action.follower_id).name, user_path(activity.action.follower_id), class: "link" %> followed you <br>
                                        <small class="text-muted">
                                            <%=  time_ago_in_words(activity.created_at) %> ago
                                        </small>
                                    </p>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% else %>
                    <h3>Start taking your first lesson from <%= link_to "here", lessons_path, class: "link"  %></h3>
                <% end %>
            </div>
        </div>
    </div>
</div>