<!-- This is form for: admin_categories -->
<%= form_with(model: [:admin, @category], local: true) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="mb-3">
        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
    <div class="mb-3">
        <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
    </div>
    <%= f.submit btn_msg, class: "btn w-100 yellow-btn mt-3" %>
<% end %>
<%= link_to "Cancel", admin_categories_path, class: "btn w-100 transparent-btn" %>