<!-- This is index for: admin_categories -->
<% provide(:title, @category.title)  %>

<div class="row mt-5">
    <div class="col py-auto">
        <h1>Manage words for <%= @category.title %></h1>
    </div>
    <div class="col py-auto align-self-center justify-content-md-end">
        <div class="d-flex justify-content-center justify-content-md-end">
            <%= link_to "Add new word", new_admin_category_word_path(@category.id), class: "btn w-40 yellow-btn" %>
            <%= link_to "Back", admin_categories_path, class: "btn w-30 transparent-btn" %>
        </div>
    </div>
</div>
<table class="table mt-3">
    <thead>
        <tr>
            <th style="width: 30%;">Word</th>
            <th style="width: 50%;">Answer</th>
            <th style="width: 20%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @words.each do |word| %>
            <tr>
                <td> 
                    <%= word.content %>
                </td>
                <td> 
                    <%= word.choices.find_by(is_correct: true).content %>
                </td>
                <td> 
                    <%= link_to "Edit", edit_admin_category_word_path(@category.id, word.id), class:"btn w-10 brown-btn" %>
                    <%= link_to "Delete", admin_category_word_path(@category.id, word.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn w-10 red-btn" %> 
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @words %>