<!-- This is index for: categories -->
<% provide(:title, @category.title)  %>
<div class="form content">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Manage words
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <%= link_to "Add new word", new_category_word_path(@category.id) %>
                </tr>
                <br>
                <tr>
                    <%= @category.title %>
                </tr>
                <thead>
                    <tr>
                        <th scope="col">Word</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Actions</th>
                    </tr>
                <thead>
                <tbody>
                    <% @words.each do |word| %>
                        <tr>
                            <td>
                                <%= word.content %>
                            </td>
                            <td>
                                <%= word.choices.find_by(is_correct: true).content %>
                            </td>
                            <td>
                                <%= link_to "Edit", edit_category_word_path(@category.id, word.id) %>
                                <%= 
                                    link_to "Delete",category_word_path(@category.id, word.id),
                                    method: :delete, data: {confirm: "Are you sure?"}, class: "text-danger"
                                %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= will_paginate @words %>
        </div>
    </div>
</div>